# Lists

Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [ ]:
my_list

In [67]:
type(my_list)

list

In [69]:
d = 25

In [70]:
grocery_list=['Milk', 'butter', 'cheese', 32, 2424.4, d]

In [71]:
grocery_list

['Milk', 'butter', 'cheese', 32, 2424.4, 25]

We just created a list of integers, but lists can actually hold different object types. For example:

In [73]:
my_list = ['A string',23,100.232,d]

In [74]:
my_list

['A string', 23, 100.232, 25]

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [75]:
len(grocery_list)

6

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [76]:
my_list = ['one','two','three', 4, 5, 'six', 7]

In [77]:
# Grab element at index 0
my_list[0]

'one'

In [79]:
my_list[4]

5

In [ ]:
my_list{3}

In [ ]:
my_list'3'

In [80]:
my_list

['one', 'two', 'three', 4, 5, 'six', 7]

In [81]:
# Grab index 1 and everything past it
my_list[3:]

[4, 5, 'six', 7]

In [82]:
my_list[2:5]

['three', 4, 5]

In [ ]:
# Grab everything UP TO index 3
my_list[:-3]

We can also use + to concatenate lists, just like we did for strings.

In [83]:
my_list + ['new item', 67]

['one', 'two', 'three', 4, 5, 'six', 7, 'new item', 67]

Note: This doesn't actually change the original list!

In [84]:
print(my_list)

['one', 'two', 'three', 4, 5, 'six', 7]

You would have to reassign the list to make the change permanent.

In [85]:
# Reassign
my_list + ['add new item permanently']

In [86]:
my_list

['one', 'two', 'three', 4, 5, 'six', 7, 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [87]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'six',
 7,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'six',
 7,
 'add new item permanently']

In [88]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'six', 7, 'add new item permanently']

## Basic List Methods

Let's go ahead and explore some more special methods for lists:

In [19]:
# Create a new list
list1 = [1,2,3,'four', 5, 'six']

In [20]:
list1

[1, 2, 3, 'four', 5, 'six']

Use the **append** method to permanently add an item to the end of a list:

In [30]:
# Append
list1.append('seven')
list1.append(8)

In [31]:
# Show
list1

[1, 2, 3, 'four', 5, 'six', 'seven', 8, 'seven', 8, 'seven', 8]

In [45]:
list1.pop()

5

In [46]:
list1

[1, 2, 3, 'four']

In [47]:
list1.remove(3)

In [48]:
list1

[1, 2, 'four']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [94]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [95]:
# Show
list1

[2, 3, 'four', 5, 'six', 'seven', 9, 'seven', 9]

In [106]:
list1.pop(4)

IndexError: ignored

In [105]:
list1

[2, 3, 'four']

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [ ]:
popped_item

In [ ]:
# Show remaining list
list1

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [ ]:
list1[100]

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [53]:
new_list = ['a','e','x','b','c']

In [54]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [58]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [56]:
new_list

['c', 'b', 'x', 'e', 'a']

In [111]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [112]:
new_list

['a', 'b', 'c', 'e', 'x']

In [59]:
list1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [67]:
x = [3,6,4,5,3]

In [68]:
x.remove(5)

In [69]:
x

[3, 6, 4, 3]

## Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [115]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [116]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [117]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [118]:
# Grab first item of the first item in the matrix object
matrix[0][2]

3

In [119]:
matrix[2][1]

8

In [120]:
matrix.pop(1)

[4, 5, 6]

In [121]:
lst_2.pop(1)

5

# List Comprehensions
Python has an advanced feature called list comprehensions. They allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops. So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

But in case you want to know now, here are a few examples!

In [ ]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[1] for row in matrix1]

In [ ]:
matrix1 = [1, 2, 3]

In [ ]:
first_col