## Step 1: Open Google Chrome

## Step 2: Open Google Colab

## Step 3: Download the file from the meeting chat

## Step 4: Upload the file in the colab

#STRINGS

###String Literals

String literals in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello 123456789")

In [ ]:
print('hello 12345 958624563489*(%*^$%&#$^@$%@$%@#&^*%^&(%&*$^*%^(*^%&($%&*(%&(><"<:"LP{JFoebwgjobve')

###Assign String to a Variable

In [ ]:
a = "Spiderman."
print(a)

In [ ]:
print('Hey I am ' + a + '!')

In [ ]:
print('Tom Holland is the new ' + a)

###Multiline Strings

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [ ]:
print("""nsigberuibv"rji'vne"vniubvei""")

In [ ]:
print(""" hgrui'ghe'ruo'  "vnoerbh"fbdji'vbrjobvjo""")

In [ ]:
print("""I said,"""at his place.""")

In [ ]:
print("This is the \"21st Century\" from 2000-2100.")

In [ ]:
print("He said, \"he will be late.\"")

In [ ]:
a = 'Lorem ipsum dolor si\name'

In [ ]:
print(a)

###Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
a = "Hey! I am Python."

In [ ]:
print(a)

In [ ]:
len(a)

In [ ]:
a[2]

In [ ]:
a[13]

In [ ]:
print(a)

In [ ]:
a[0:8]

In [ ]:
a[:6]

In [ ]:
a[10:16]

In [ ]:
a[20:21]

In [ ]:
x = '12346792356247965983'

In [ ]:
len(x)

In [ ]:
x[2:8]

####Slicing

In [ ]:
b = "Hello, World!"

In [ ]:
print(b[4:11])

####Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [ ]:
b = "Hello,World"
print(b[-5:-2])

In [ ]:
b[-7:-9]

In [ ]:
b[:-5]

In [ ]:
b[-2:]

In [ ]:
b[4:]

In [ ]:
b[:8]

In [ ]:
b[2:-5]

####String Length

To get the length of a string, use the len() function.

In [ ]:
a = "Hello, World! I am working on python."
print(len(a))

####String Methods

Python has a set of built-in methods that you can use on strings.

In [ ]:
#The strip() method removes any whitespace from the beginning or the end:
a = "     Hello, World!    "
print(a.strip())

In [ ]:
#The lower() method returns the string in lower case:
a = "HeLLo, WORLDVIHFGVEIBVUIB!"
print(a.lower())
print('jivneri24793569348768935vberuibv'.upper())

In [ ]:
#The upper() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())

In [ ]:
#The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("W", "jbvehkb"))

In [ ]:
#The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello; Wsjkvboeribvorld!"
print(a.split("o"))

###Check String

To check if a certain phrase or character is present in a string, we can use the keywords in or not in.

In [ ]:
#Check if the phrase "ain" is present in the following text:
txt = "The rain in Spain stays mainly in the plain"
"ain" in txt

In [ ]:
a = 'ghweuiobverjibviuerbvuio'
'gh' in a

In [ ]:
#Example

#Check if the phrase "ain" is NOT present in the following text:
txt = "The rain in Spain stays mainly in the plain"
"ain" not in txt

###String Concatenation

To concatenate, or combine, two strings you can use the + operator.

In [ ]:
#Example

#Merge variable a with variable b into variable c:
a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
#Example

#To add a space between them, add a " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

###String Format

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [ ]:
age = 32
txt = "I am" + age
print(txt)

TypeError: ignored

In [ ]:
x = '36'
y = '12'

In [ ]:
x + y

In [ ]:
x / y

In [ ]:
x[2:7]

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [ ]:
#Example
#Use the format() method to insert numbers into strings:
age = 30
birth_year = 1992

txt = "I am {} years old."
print(txt.format(age))
print("I was {} born in year.".format(birth_year))
print("I was [] born in year.".format(birth_year))
print("I was () born in year.".format(birth_year))

I am 30 years old.
I was 1992 born in year.
I was [] born in year.
I was () born in year.

In [ ]:
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
#Example
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
#Example
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {1} dollars for {2} pieces of item {0}."

myorder = "I want to pay {1} dollars for {1} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 567 dollars for 567 pieces of item 567.

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

In [ ]:
txt = "We are the so-called "Vikings" from the north."

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

![String functions.png]()